@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "home";
@import "listings";
@import "details";

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, rgba(34,57,204,1) 0%, rgba(34,57,204,.8) 21%, rgba(159,83,230,.8) 100%), url("https://s3-us-west-2.amazonaws.com/build-craigslist-with-react/nyc.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #fff;

  .fas {
    margin-left: 10px;
  }

  .left-menu {
    display: flex;

    .logo {
      font-size: 2rem;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .city-dropdown {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 15px 20px;
      position: relative;

      .scroll-area {
        position: absolute;
        background: blue;
        top: 0;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &.active {
          visibility: visible;
          top: 50px;
          opacity: 1;
        }

        ul {
          li {
            padding: 15px;
          }
        }
      }
    }
  }

  .right-menu {
    display: flex;
    align-items: right;
    margin-left: 70rem;
  }

  .user-img {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .user-dropdown {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 20px;
  }

  .post-btn {
    font-weight: 300;
    text-transform: capitalize;
    padding: 15px 20px;
    background: rgb(71, 133, 232);
    color: #fff;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
